.products {
	text-align: center;
	margin-top: 250px;
	padding-inline: 50px;
}

.products__title {
	font-size: 36px;
	margin-bottom: 80px;
}

.products__container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 40px 0;
	justify-items: center;
}
