.footer {
	margin-top: 50px;
	padding-top: 20px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	gap: 30px;
	background-color: var(--color-accent);
	color: var(--color-main);
}

.footer__panel {
	margin-block-end: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.panel__info {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	gap: 30px;
	text-align: center;
	align-items: center;
}

.info__contacts {
	font-size: 14px;
}

.info__adres {
	font-size: 14px;
}

.footer__copyright {
	align-self: center;
	font-size: 14px;
	width: 100%;
	color: var(--color-accent);
	background-color: var(--color-main);
	text-align: center;
}

@media (min-width: 1024px) {
	.footer {
		flex-direction: row;
	}

	.info__contacts {
		font-size: 24px;
	}

	.panel__info {
		text-align: start;
		align-items: flex-start;
	}
}
